@media screen {

}

.form {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.form input {
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 30px;
  border-color: #C0D8C0;
  font-size: 20px;
}

.form textarea {
  border-style: solid;
  border-width: medium;
  margin-bottom: 35px;
  border-color: #C0D8C0;
  font-size: 20px;
}


.form button {
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 35px;
  border-color: #91ACCC;
  font-size: 20px;
}

.form td {
	/* border: 1px solid grey; */
	text-align: center;
}
.form th {
	border-bottom: 2px solid grey;
	text-align: center;
}
.form td button {
  width: 80px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  border-color: #91ACCC;
  font-size: 15px;
  margin-bottom: 0px;
  align-items: center;
}

