/*@media (max-width: 767px){!*모바일*!*/
/*  .container {*/
/*    min-width: 766px;*/
/*  }*/
/*}*/

/*@media (min-width: 768px) and (max-width: 991px) { !* 조금작은 테블릿*!*/
/*  .container {*/
/*    min-width: 990px;*/
/*  }*/
/*}*/

/*@media (min-width: 992px) and (max-width: 1199px) {!* 태블릿*!*/
/*  .container {*/
/*    min-width: 1199px;*/
/*  }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*  .container {*/
/*    min-width: 1200px;*/
/*  }*/
/*}*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*min-height: 1080px;*/
  margin: 0px 20% 0px 20%;
  max-width: 800px;
  padding: 0px;
  font-family: "NEXON Lv1 Gothic OTF";
  font-weight: normal;
  font-style: normal;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}