@media screen {

}

/* list.jsp */
#quizBtn{
  width: 100%;
  height: 40px;
  border-style: solid;
  border-width: medium;
  border-color: #91ACCC;
  font-size: 20px;
}

h1{
	margin: 30px;
}

#listTbl {
	border: 3px solid black;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#page {
	margin: 40px;
	text-align: center;
}

#tblDiv{
	width: 100%;
	margin: auto;
}

#listTbl th, td{
	height: 40px;
	border: 1px solid gray;
}

.page-link {
  color: #fff; 
  background-color: #91ACCC;
  border: 1px solid #ccc; 
  display: inline-block;
  width:35px;
  z-index: 1;
  font-weight:bold;
 
}

.page-link:focus, .page-link:hover {
  color: #000;
  background-color: #fafafa; 
  border-color: #ccc;
}

/* detail */

#contents{
	margin: 400px;
}

#subBtn{
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  margin-top: 40px;
  margin-left: 32%;
  margin-bottom: 35px;
  border-color: #91ACCC;
  font-size: 20px;
}

#category{
	height:50px;
}


