.content .login {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}

.content .login input {
  width: 250px;
  height: 40px;
  border-style: solid;
  border-width: medium;
  margin-bottom: 35px;
  border-color: #C0D8C0;
  font-size: 20px;
}

.sns_login {
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.sns_login div img {
  margin-bottom: 20px;
  cursor: pointer;
  width: 30%

}